<div class='component-content'>
    <div class='lefthalf'>
      <span class='component-title'>{{title}}</span>
      <span><a routerLink='/request/create'>
      <!-- <span><a *ngIf='loggedInUser.admin' routerLink='/user/create'></a> -->
          <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
      </span>
    </div>
  </div>
  <p *ngIf='!requests'>Loading ...</p>
  <table class="table table-sm" *ngIf='requests'>
    <tr>
      <th class='table-secondary'></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('description')"><u>Description</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('justification')"><u>Justification</u></a></th>
      <!-- <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('rejectionreason')"><u>Rejection Reason</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('deliverymode')"><u>Delivery Mode</u></a></th> -->
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('status')"><u>Delivery Status</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('total')"><u>Total</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
          (click)="sortBy('user.username')"><u>User Name</u></a></th>
      <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
    </tr>
    <tr *ngFor='let request of requests | sort:sortCriteria:sortOrder'>
      <td></td>
      <td>{{request.description}}</td>
      <td>{{request.justification}}</td>
      <!-- <td>{{request.rejectionreason}}</td> -->
      <!-- <td>{{request.deliverymode}}</td> -->
      <td>{{request.status}}</td>
      <td>{{request.total | currency}}</td>
      <td>{{request.user.username}}</td>
      <td class='actions'>
        <a routerLink='/request/detail/{{request.id}}' style='padding-left: 16px' class='actionIcon'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
        <a routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
        <a routerLink='/request/lines/{{request.id}}' class='actionIcon'><img src='assets/lines.png' width='20' height='20' title='Lines'></a>
        <!-- <a *ngIf='loggedInUser.admin' routerLink='/user/edit/{{user.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a> -->
      </td>
    </tr>
  </table>
  
  
  
  <!-- <table class="table" *ngIf='users'>
      <thead class="thead-dark">
      <tr>
          <th>ID:</th>
          <th><a (click)="sortBy('username')"><u>User Name</u></a></th>
          <th><a (click)="sortBy('firstname')"><u>First Name</u></a></th>
          <th><a (click)="sortBy('lastname')"><u>Last Name</u></a></th>
      </tr>
      </thead>
      
      <tr *ngFor='let u of users | sort:sortCriteria:sortOrder'>
          <td>{{u.id}}</td>
          <td>{{u.username}}</td>
          <td>{{u.firstname}}</td>
          <td>{{u.lastname}}</td>
      </tr>
  </table> -->
  
  
